<!DOCTYPE html>
<html lang="en">
<head>
<style>
  h1:has(> a[href="https://weijiajin.com/"]) {
    display: none;
  }
  img.hr-image {
    width: 100%;
    height: auto;
  }
  .icon {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease; /* 添加过渡效果 */
  }

  .icon:hover {
    transform: scale(1.1); /* 鼠标悬停时放大图像 */
  }
  .flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* 使子元素垂直排列 */
  }
  a {
  font-size: 0;
  }


  
</style>

<link rel="icon" type="image/x-icon" href="/favicon.ico">
<script src="https://sdk.jinrishici.com/v2/browser/jinrishici.js" charset="utf-8"></script>
</head>
<body>
    
</body>
</html>
